* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'StratosSkyeng', sans-serif;
}

.card{
    border: 2px solid #363062;
    width: 358px;
    height: 530px;
    margin: 40px auto;
    border-radius: 25px;
    padding: 31px 30px;
}
 .img{
    width: 298px;
    
 }

 h2{
    margin-top: 15px;
 }


.card__button {
    border: 2px solid black;
    border-radius: 25px;
    background-color: #F99417;
    padding: 9px 26px;
    /* Это чтобы при наведении на кнопку курсор мыши менялся на руку */
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 20px;
    
}
/* Эффект наведения курсора мыши на элемент с классом card__button */
.card__button:hover {
    /* Прозрачность всего элемента  - такое значение говорит браузеру показывать только 70% элемента по прозрачности */
    opacity: .7;
}

.icon {
    width: 20px;
    color: #363062;
}